logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

coverage
*.lcov
.lock-wscript
.nyc_output

node_modules/
jspm_packages/

typings/
*.tsbuildinfo
.npm
.eslintcache

.node_repl_history
*.tgz
.env
.env.test
.cache

build
lib